In [1]:
num1=input("enter the first number:")
num2=input("enter the second number:")                          #input() takes as string
add=num1+num2
print("addition:",add)

enter the first number:10
enter the second number:20
addition: 1020

In [2]:
num1=int(input("enter the first number:"))                     #input() takes as string and converting it to the integer
num2=int(input("enter the second number:"))
add=num1+num2
print("addition:",add)

enter the first number:10
enter the second number:20
addition: 30

In [2]:
eid=int(input("enter the eid:"))
ename=input("enter the ename:")
esal=float(input("enter the esal:"))
print(eid,ename,esal)

enter the eid:1
enter the ename:deep
enter the esal:500000
1 deep 500000.0

# formating of data 
way1

In [3]:
print("emp_id=%d emp_name=%s emp_sal=%g"%(eid,ename,esal))

emp_id=1 emp_name=deep emp_sal=500000

# way_2

In [4]:
print("emp_id={} emp_name={} emp_sal={}".format(eid,ename,esal))

emp_id=1 emp_name=deep emp_sal=500000.0

# class_5 
                      #if-else

In [5]:
if 10<20:
    print("if body")
else:
    print("else body")

if body

In [6]:
print("if body") if 10>20 else print("else body")

else body

In [8]:
{print("if body"),print("if body 2")} if 10>20 else {print("else body"),print("else body 2")}

else body
else body 2

{None}

# iterators

In [1]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [2]:
for x in range(4,10):
    print(x)

4
5
6
7
8
9

In [3]:
for x in range(4,10,3):
    print(x)

4
7

In [4]:
for x in range(10,4,-3):
    print(x)

10
7

In [7]:
for x in range(10,0,-1):
    print(x)

10
9
8
7
6
5
4
3
2
1

In [8]:
for x in range(5):
    print(x)
else:
    print("normal execution of for loop")

0
1
2
3
4
normal execution of for loop

In [9]:
#in 3 cases else block will not executed
#case_1
for x in range(5):
    print(x)
    print(10/0)                                         #when exception occur
else:
    print("normal execution of for loop")

0

ZeroDivisionError: division by zero

In [1]:
#case_2
for x in range(5):
    if x==3:
        break                                        #when break statement used
    print(x)
else:
    print("normal execution of for loop")

0
1
2

In [ ]:
#case_3
import os
for x in range(5):
    print(x)
    os._exit(0)
else:
    print("normal execution of for loop")

# class_8

In [3]:
#nonlocal vs global
name="deep"
def outer():
    name1="ranjan"
    def inner():
        nonlocal name1
        name1="srivastava"
        global name
        name="deeti"
    print(name1)
    inner()
    print(name1)
outer()
print(name)

ranjan
srivastava
deeti

# class_9   python function

In [1]:
#function
def disp():
    print("deep")
disp()

deep

## ##default arg

In [9]:
                                                      #default arg
def disp(eid=111,ename="deepesh",esal=500000.45):
    print(eid,ename,esal)
disp()
disp(222)
disp(333,"ranjan")
disp(444,"deeti",1000000.78)
disp("srivastava")

111 deepesh 500000.45
222 deepesh 500000.45
333 ranjan 500000.45
444 deeti 1000000.78
srivastava deepesh 500000.45

In [10]:
                                                      #required arg
def disp(eid,ename,esal):
    print(eid,ename,esal)
                                            #disp()
                                            #disp(222)
                                            #disp(333,"ranjan")
disp(444,"deeti",1000000.78)    #3 arg you have to pass

444 deeti 1000000.78

In [12]:
def disp(eid,ename,esal):
    eid=111
    ename="deepesh"
    esal=500000.45
    print(eid,ename,esal)
disp()

TypeError: disp() missing 3 required positional arguments: 'eid', 'ename', and 'esal'

In [13]:
                         #mixing of default arg and required arg
def disp(eid,ename="deepesh",esal=500000.45):
    print(eid,ename,esal)
disp(222)
disp(333,"ranjan")
disp(444,"deeti",1000000.78)
disp("srivastava")

222 deepesh 500000.45
333 ranjan 500000.45
444 deeti 1000000.78
srivastava deepesh 500000.45

In [18]:
                                          #keyword arg
def disp(eid,ename,esal):
    print(eid,ename,esal)

disp(333,esal=20000.65,ename="ranjan")

333 ranjan 20000.65

In [15]:
def disp(eid,ename,esal):
    print(eid,ename,esal)

disp(333,ename="ranjan",20000.65)

SyntaxError: positional argument follows keyword argument (<ipython-input-15-e9ec03ddce48>, line 4)

In [16]:
                             #var-arg
def disp(*a):                                #it allows to take any no of arg
    for x in a:
        print(x)
disp()                                      #0 arg
disp(10)                                    #1 arg
disp(10,20)                                 #2 arg

10
10
20

In [17]:
#mixing default arg and var arg
def disp(name,*a):
    print(name)                                      #it allows to take any no of arg
    for x in a:
        print(x)
disp("aaa")                                       #1 arg
disp("bbb",10)                                    #2 arg
disp("ccc",10,20)                                 #3 arg

aaa
bbb
10
ccc
10
20

# class_10   python function video 2

In [19]:
#return value
def disp():
    print("good morng")
    return 10
x=disp()
print(x)
print(disp())

good morng
10
good morng
10

In [20]:
def disp():
    print("good morng")
    return 10
    return 20                   #ignored 
    print("deepesh")             #ignored 

print(disp())

good morng
10

In [21]:
def disp():
    print("good morng")
   
x=disp()
print(x)                             #default return value is null

good morng
None

In [22]:
def outer():
    name1="deepesh"
    def inner():
        nonlocal name1
        name1="ranjan"
        print("inner function var name=",name1)        #2 ranjan
    print(name1)                                     #1 deepesh
    inner()
    print(name1)                                   #3 ranjan
outer()

deepesh
inner function var name= ranjan
ranjan

In [23]:
def outer():
    name1="deepesh"
    def inner():
        name1="ranjan"
        print("inner function var name=",name1)         #2 ranjan
    print(name1)                                        #1 deepesh
    inner()
    print(name1)                                        #3 deepesh
outer()

deepesh
inner function var name= ranjan
deepesh

In [24]:
def outer():
    name1="deepesh"
    def inner1():
        name1="ranjan"
        print("inner1 function var name=",name1)
    
    def inner2():
        nonlocal name1
        name1="deeti"
        print("inner2 function var name=",name1)
        
    def inner3():
        global name1
        name1="srivastava"
        print("inner3 function var name=",name1)
    
    print(name1)                                        
    inner1()
    print(name1)
    inner2()
    print(name1)  
    inner3()
    print(name1)
outer()
print(name1)

deepesh
inner1 function var name= ranjan
deepesh
inner2 function var name= deeti
deeti
inner3 function var name= srivastava
deeti
srivastava